* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
header {
  background-color: #264653;
  border: solid #000000;
  color: #FFFFFF;
}

main {
  background-color: #2A9D8F;
  padding: 10px;
}

.hidden {
  display: none;
}

.js-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



img {
  width: 200px;
  border: solid #264653;
  display: block;
  margin: auto;
}

.cuisine {
  flex: 0 32%;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2 */
}

.recipe, .info {
  background-color: #CFF2EE;
  padding: 10px;
}

.recipe-break {
  border: dotted #000000;
}

/* Buttons and Input*/
.recipe a {
  padding: 10px;
  text-decoration: none;
}

input {
  background-color: #CFF2EE;
  height: 2em;
  margin-bottom: 10px;
}

textarea {
  background-color: #CFF2EE;
}

[type=submit] {
  height: 2em;
}

.cuisineButton, .categoryButton, .mealButton, .recipe a, [type=submit]  {
  background-color: #E9C46A;
  color: #000000;
}

.cuisineButton:hover, .categoryButton:hover, .mealButton:hover, .recipe a:hover, [type=submit]:hover {
  background-color: #F4A261;
}

/* Header and Navigation for all pages */
header {
  width: 100%;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;;
  text-align: center;
}



@media all and (min-width: 800px) {
  header nav ul {
    flex-direction: row;
  }

  .js-results {
    display: flex;
    flex-wrap: wrap;
  }
  
  .category, .meal {
    width: 32%;
    height: 150px;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    background-color: #8EE1D7;
  }
  
  .category-child, .meal-child {
    position: absolute;
    padding: 5px;
    align-content: center;
  }
  
  img {
    display: block;
    margin: auto;
  }
  
  .cuisine {
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
  }
}
